.popper {
  &-wrap {
    margin: 100px auto 0;
    text-align: center;
    height: 600px;
    overflow-y: auto;
    border: 1px solid red;
  }
  &-reference {
    border: 1px solid #333333;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 10px;
    text-align: center;
    margin-top: 300px;
    cursor: pointer;
    user-select: none;
  }
  &-target {
    border: 1px solid #333333;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 10px;
    width: 200px;
  }
}

.dr-popper {
  transform-origin: center top;
  position: absolute;
}
